.more {
    display: none;
}

.mailing-list-signup {
    margin: 2em;
}

.mailing-list-signup input {
    margin-left: 10px;
}

.mailing-list-signup input[type="submit"] {
    margin-bottom: 0rem !important;
}

.mailing-list-border {
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    padding: 10px;
}

@media screen and (max-width: 575px) {
    .mailing-list-signup input {
        margin-left: 0px;
        margin-top: 5px;
    }

    .mailing-list-signup label {
        margin-bottom: 0;
    }   
}